{% extends 'base.html' %}
{% block title %}
    登录
{% endblock %}

{% block content %}
    <h1>登录</h1>
    {% if form.errors %}
        <p>你的用户名和密码不匹配.请重试</p>
    {% else %}
        <P>请使用下面表单登录.如果你还没有账户可以点击<a href="{% url 'account:register' %}">注册</a>.</P>
    {% endif %}
    <div class="login-form">
    <form action="{% url 'account:login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if next %}
            <p>
                <input type="hidden" name="next" value="{{ next }}">
            </p>
        {% endif %}
        <p>
            <input type="submit" value="登录">
        </p>
        <p>
            <a href="{% url 'account:password_reset' %}">忘记密码</a>
        </p>
    </form>
    </div>
    <div class="social">
        <ul>
            <li class="google"><a href="{% url 'social:begin' 'weibo' %}">微博登录</a></li>
        </ul>
    </div>
{% endblock %}