
{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
    {{ image.title }}
{% endblock %}


{% block content %}
    <h1>{{ image.title }}</h1>
    {% thumbnail image.image "300" as im %}
        <a href="{{ image.image.url }}">
            <img src="{{ im.url }}" class="image-detail">
        </a>
    {% endthumbnail %}
    {% with total_likes=image.users_like.count users_like=image.users_like.all %}
        <div class="image-info">
            <div>
                <span class="count">
                    {{ total_views }}浏览量
                    <span class="total">{{ total_likes }}</span>
                    喜欢
                </span>
                <a href="#" data-id="{{ image.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like button">
                    {% if request.user not in users_like %}
                        喜欢
                     {% else %}
                        不喜欢
                    {% endif %}
                </a>
            </div>
            {{ image.description|linebreaks }}
        </div>
        <div class="image-likes">
            {% for user in image.users_like.all %}
                <div>
                    <img src="{{ user.profile.photo.url }}">
                    <p>{{ user.first_name }}</p>
                </div>
            {% empty %}
                没有喜欢这张图片
            {% endfor %}
        </div>
    {% endwith %}
{% endblock %}


{% block domready %}
    $('a.like').click(function(e){
    e.preventDefault();
    $.post('{% url 'images:like' %}',{id:$(this).data('id'),action:$(this).data('action')},
    function(data){
        if (data['status'] === 'ok') {
            var previous_action = $('a.like').data('action');
            //切换　data-action属性
            $('a.like').data('action',previous_action === 'like' ? 'unlike' : 'like');
            //切换按钮文本
            $('a.like').text(previous_action === 'like' ? '不喜欢' : '喜欢');
            //更新总的喜欢人数
            var previous_likes = ParseInt($('span.count.total').text());
            $('span.count.total').text(previous_action === 'like' ? previous_likes + 1 :previous_likes - 1 );
            }
        }
    });

{% endblock %}